@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/hostedcheckout/basic.html">Hosted Checkout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/hostedtokenization/basic.html">Hosted Tokenization</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/createpayment/basic.html">Create Payment</a>
        </li>
    </ul>
</div>
