MERCHANT_ID=your-merchant-id
API_KEY=your-api-key
API_SECRET=your-api-secret
API_ENDPOINT=your-api-endpoint
INTEGRATOR= your-api-integrator
HOSTED_CHECKOUT_REDIRECT_URL=redirect-checkout-url

PORT=3000
CORS_ORIGIN=http://localhost:5173
