.wl-checkbox {
  cursor: pointer;
  display: flex;
  gap: 5px;

  * {
    cursor: pointer;
  }

  span {
    line-height: 1;
  }

  .wlp-checkbox {
    margin: 0;
    width: 16px;
    height: 16px;
  }
}