$background-color-header: #007b7c;
$border-color: #cccccc;
$border-color-footer: #dee2e6;
$text-color: #2b2b2c;
$color-gray: #6c757d;
$color-dark-gray: #575251;
$color-light-gray: #cacaca;
$color-white: white;
$background-color-primary: #ffffff;
$background-color-secondary: #f5f5f5;
$button-background-color: #007b7c;
$error-color: #d86555;
$warning-color: #db994d;
$info-color: #029596;
$code-color: #263238;

$border-radius: 4px;
